# -*- coding: utf-8 -*-
##############################################################################
# Author: @SVAKSHA, Wed 30 Mar 2011 17:44:13 IST  
##############################################################################

#====================================================
# GENERAL
#====================================================
tags
IGNORE/

#====================================================
# USE GLOB SYNTAX
#====================================================
syntax: glob
*.elc
pub/*
svksh/*

#====================================================
# IPYTHON Notebooks
#====================================================
notebooks/.ipynb_checkpoints/*

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore


#====================================================
# DATABASE
#====================================================
*.sql
*.sqlite
config/databases.yml
cache

