# -*- coding: utf-8 -*-
################################################################################
# Author: @SVAKSHA, Thu 01 Jan 2015 08:00:45 IST 
################################################################################

#====================================================
# GENERAL
#====================================================
IGNORE/

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

#====================================================
# EDITOR: Vi
#====================================================
*.swp


