# -*- coding: utf-8 -*-
################################################################################
# Author: SVAKSHA, 2011Mar30 17:44:13 IST  
################################################################################

#====================================================
# GENERAL
#====================================================
IGNORE/
ignore-LaTeX/
ignore-papers/*
10.md

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

#====================================================
# EDITOR: Vi
#====================================================
*.swp

